{
  "datas": [
    {
      "name": "MyName",
      "login": "MyLogin",
      "password": "MyPassword"
    },
    {
      "name": "MyName2",
      "login": "MyLogin2",
      "password": "MyPassword2"
    }
  ]
}